html {
	background: #000;
}
body {
	background-color: #000 !important;
	color: #fff !important;
}
#logo {
	position: relative; 
	float: right; 
	width: 70%; 
	bottom: 80px; 
	right: 20px ;
	transform: rotate(-3deg);
	margin-bottom: -3%;
}
.col-md-12 h1 {
	font-size: 10em;
	color: #00B0E9;
	margin-left:20px;
	margin-top: -1%;
}
#border {
	margin-bottom:5%;
	margin-left:22%;
	margin-top: 0;
}
.col-sm-4 {
	border:solid 3px #FEB713;
	height:450px;
	text-align: center;
}
.col-sm-4 h3 {
	margin-top: 5%;
}
#picture {
	width:270px;
	height:auto;
	margin-top:5%;
}